.banner {
    width: 100%;
    height: 150px; /* Ajusta la altura según necesites */
    background-color: #e7e2dc; /* Cambia este color por el que desees */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    padding: 0; /* Elimina cualquier relleno */
  }
  

.banner-text {
    font-family: "Times New Roman", serif;
    font-size: 3rem; /* Ajusta el tamaño de la fuente */
    font-style: italic; /* Activa la versión itálica */
    color: #012a48; /* Cambia el color del texto si lo necesitas */
  }