.banner {
    width: 100%;
    height: 120px; /* Mobile-first: menor altura */
    background-color: #e7e2dc; /* Cambia este color por el que desees */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0; /* Elimina cualquier relleno */
  }
  

.banner-text {
    font-family: "Times New Roman", serif;
    font-size: 2rem; /* Mobile-first: menor tamaño de la fuente */
    font-style: italic; /* Activa la versión itálica */
    color: #012a48; /* Cambia el color del texto si lo necesitas */
  }

/* Breakpoint SM (≥640px) */
@media (min-width: 640px) {
  .banner {
    height: 150px;
  }
  .banner-text {
    font-size: 2.5rem;
  }
}

/* Breakpoint MD (≥768px) */
@media (min-width: 768px) {
  .banner {
    height: 180px;
  }
  .banner-text {
    font-size: 3rem;
  }
}

/* Breakpoint LG (≥1024px) */
@media (min-width: 1024px) {
  .banner {
    height: 220px;
  }
  .banner-text {
    font-size: 3.5rem;
  }
}