.carousel-container {
    width: 100%;
    margin: 0px; 
    position: relative;
    padding: 0%;
    margin-bottom: 0;
    padding-bottom: 0;
}

.carousel-container img {
    width: 100%;
    height: 400px;
    object-fit: cover; 
    border-radius: 0; /* Asegura que no haya esquinas redondeadas */
}

.slick-next {
    display: none !important;
}

.slick-prev {
    display: none !important;
}
