
.floating-button {
    position: fixed;
    bottom: 20px;
    right: 30px;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px 15px;
    display: flex;
    align-items: center;
    gap: 30px;
    border-radius: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease, background 0.3s ease;
    z-index: 1000;
  }
  
  .floating-button:hover {
    background: rgba(255, 255, 255, 1);
    transform: scale(1.05);
  }
  
  
  .text {
    font-family: "Times New Roman", serif;
    font-style: italic;
    font-size: 16px;
    color: #012a48;
  }
  